.card{
    display: flex;
    position: relative;
    justify-content: start;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 #00000040;
    flex-shrink: 0;
    .background{
        border-radius: 20px;
        object-fit: cover;
    }
    .text{
        display: flex;
        flex-direction: column;
        align-self: stretch;
        justify-content: space-between;
        justify-self: stretch;
        flex-grow: 2;

    }
  .title{
    text-transform: uppercase;
  }
  .button{
    position: absolute;

  }
  .price{
    align-self: flex-end;
  }
  .busynessName{
    color: var(--input-text-color, grey);
  }

}
@media screen and (min-width: 1440px){
    .card {
        height: 200px;
        width: 700px;
        .background{
            height: 200px;
            width: calc(700px /5 *2);
        }
      .text{
        gap: 10px;
        padding: 10px;
      }
    }
    .title{
        font: 600 20px/ 1 'Inter', sans-serif;
    }
  .busynessName{
    font: 400 20px/ 1 'Inter', sans-serif;
  }
  .button{
    top: 0;
    right: 0;
  }
  .price{
    font: 600 24px/ 1 'Inter', sans-serif;
    margin-right: 10px;
  }
}
@media screen and (max-width: 1440px){
     .card {
        height: 150px;
        width: 600px;
        .background{
            height: 150px;
            width: calc(600px /5 *2);
        }
       .text{
        gap: 10px;
        padding: 10px;
       }
    }
    .title{
        font: 600 20px/ 1 'Inter', sans-serif;
    }
    .busynessName{
        font: 400 16px/ 1 'Inter', sans-serif;
    }
  .button{
    top: 0;
    right: 0;
  }
    .price{
        font: 600 20px/ 1 'Inter', sans-serif;
        margin-right: 10px;
    }
}
@media screen and (max-width: 768px){
     .card {
        height: 100px;
        width: 450px;
        .background{
            height: 100px;
            width: calc(450px /5 *2);
        }
       .text{
        gap: 10px;
        padding: 10px;
       }
       .button{
        top: 0;
        right: 0;
       }

    }

    .title{
        font: 600 16px/ 1 'Inter', sans-serif;
    }
    .busynessName{
        font: 400 12px/ 1 'Inter', sans-serif;

    }
    .price{
        font: 600 16px/ 1 'Inter', sans-serif;
        margin-right: 10px;
    }
}

