.card {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    flex-shrink: 0;
    background: var(--white, #fff);
    align-items: center;
    box-shadow: 0 4px 10px 0 #0000001A;
    justify-content: space-between;
    .manage{
        display: flex;
        justify-content: space-between;
        //justify-self: flex-end;
        align-items: center;
        //width: 100%;
        gap: 10px;
        font-weight: 800;
        //padding: 10px 0;
        .button{
            font-weight: 800;
        }
    }
    .background {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
}
@media screen and (max-height: 768px){
    .card {
        height: 250px;
        width: 180px;
        padding: 10px 20px;
        gap: 10px;
        .link{
            height: 140px;
            width: 140px;
        }
        .count{
            font: 400 12px/ 1.4 'Inter', sans-serif;
        }
    }
    .title{
        font: 400 12px/ 1.4 'Inter', sans-serif;
        //padding: 2px;
        align-self: flex-start;
    }
    .price{
        font: 800 14px/ 1.4 'Inter', sans-serif;
        text-align: center;
        //padding: 16px 16px 20px;
    }
}

@media screen and (max-height: 1440px){
    .card {
        height: 250px;
        width: 200px;
        padding: 10px 20px;
        gap: 5px;
        .link{
            height: 140px;
            width: 160px;
        }
        .count{
            font: 400 16px/ 1.4 'Inter', sans-serif;
        }
    }
    .title{
        font: 400 16px/ 1.4 'Inter', sans-serif;
        //padding: 2px;
    }
    .price{
        font: 800 18px/ 1.4 'Inter', sans-serif;
        text-align: center;
        //padding: 2px;
    }
}

@media screen and (min-height: 1440px){
    .card {
        height: 360px;
        width: 220px;
        padding: 5px 25px;
        gap: 10px;
        .link{
            height: 170px;
            width: 170px;
        }
        .count{
            font: 400 16px/ 1.2 'Inter', sans-serif;
        }
    }
    .title{
        font: 400 20px/ 1.2 'Inter', sans-serif;
        //padding: 2px;
    }
    .price{
        font: 800 22px/ 1.2 'Inter', sans-serif;
        text-align: center;
        //padding: 2px;
    }
}



