* {
  --white: #fff;
  --main-white: rgba(255, 252, 245, 1);
  --bg-color: rgb(55 67 117 / 100%);
  --input-text-color: rgba(172, 169, 167, 1);
  --soft-pink: rgba(252, 228, 228, 1);
  --dark-pink: rgba(240, 152, 152, 1);
  --main-black: rgba(11, 13, 14, 1);
  --red: rgba(255, 0, 0, 1);
  --green: rgba(0, 255, 0, 1);

}